<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="DropLocation" value="c:\temp\ipos-drop"/>
    <add key="ArchiveLocation" value="c:\temp\archive"/>
    <add key="CentralLocation" value="c:\temp\ipos-central"/>    
    <add key="FileFilter" value="*.txt"/>
  </appSettings>
</configuration>
