CREATE DATABASE [PosEntt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PosEntt', FILENAME = N'E:\data\PosEntt.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB ), 
 FILEGROUP [SECONDARY] 
( NAME = N'PosEntt_2', FILENAME = N'E:\data\PosEntt_2.ndf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PosEntt_log', FILENAME = N'F:\logs\PosEntt_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [PosEntt]
GO
USE [PosEntt]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [PosEntt] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
