@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}
    <div class="container">
        <div class="page-header">
            <h1>RTS <small>Real Time Scanner</small></h1>
        </div>
        <div class="row">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-8">
                <p>Registered user may proceed to the <a href="/rts-account/login">login</a> page.</p>
                <p><small>This page will redirect to the login page in <span id="seconds">30</span> seconds</small></p>
                <p><a class="btn btn-primary" href="/rts-account/login" role="button">Login</a></p>
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>        
    </div>

@section scripts
{
    <script type="text/javascript">
        var span = document.getElementById("seconds"),
            seconds = 30;
        var sc = setInterval(function () {
            span.innerText = seconds--;
            if (seconds === 0) {
                clearInterval(sc);
                window.location = "/rts-account/login";
            }
        }, 1000);
    </script>
}
