
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Created date</th>
            <th>CourierId</th>
            <th>LocationId</th>
            <th>Date</th>
            <th>Time</th>
            <th>ConsignmentNo</th>
            <th>AccountNo</th>
            <th>Height</th>
            <th>Witdh</th>
            <th>Length</th>
            <th>Weight</th>
            <th>ScannerId</th>
            <th>Logs</th>
        </tr>
    </thead>
    <tbody data-bind="foreach :list">
        <tr  data-bind="css: { error : log().total() > 0}">
            <td>
                <input type="checkbox" data-bind="checked: $root.selectedItems, value : $data" />
            </td>
            <td data-bind="date: {value:_source.CreatedDate, format: 'YYYY-MM-DD HH:mm:ss'}"></td>
            <td data-bind="text:_source.CourierId"></td>
            <td data-bind="text:_source.LocationId"></td>
            <td data-bind="date: {value:_source.Date, format: 'YYYY-MM-DD'}"></td>
            <td data-bind="date: {value:_source.Time, format : 'HH:mm:ss'}, attr : {title : _source.Time}"></td>
            <td data-bind="text:_source.ConsignmentNo"></td>
            <td data-bind="text:_source.AccountNo"></td>
            <td data-bind="text:_source.Height"></td>
            <td data-bind="text:_source.Witdh"></td>
            <td data-bind="text:_source.Length"></td>
            <td data-bind="text:_source.Weight"></td>
            <td data-bind="text:_source.ScannerId"></td>
            <td data-bind="with:log">
                <!-- ko foreach : hits -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-bind="enable: canRequeue,  click: $root.requeue, attr : { title : _source.source}">
                        <i class="fa fa-gear"></i>
                        Requeue
                    </button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:;" data-bind="attr : { title : 'View error details # ' + ($index()+1) }, click: $root.viewLog">
                                <i class="fa fa-bookmark-o"></i> View Log
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- /ko -->
            </td>
        </tr>
    </tbody>
</table>
