
<table class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Created date</th>
        </tr>
    </thead>
    <tbody data-bind="foreach :list">
        <tr data-bind2="">
            <td>
                <input type="checkbox" data-bind="checked: $root.selectedItems, value : $data" />
            </td>
            <td data-bind="date: {value:_source.CreatedDate, format: 'YYYY-MM-DD HH:mm:ss'}"></td>


        </tr>
    </tbody>
</table>

<div class="alert alert-danger">
    Complete the column list, please see _message.rows.stat.html for sample
</div>