<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <div class="row">
            <br />
            <div class="pull-right">
                <a href="/rts-account/logout" class="btn btn-primary btn-xs" title="Log Out"><i class="fa fa-user-times"></i> Log Out</a>
            </div>
        </div>
        <div class="page-header">
            <h1 class="page-title">
                RTS Self Service
            </h1>
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#search" aria-controls="search" role="tab" data-toggle="tab">Search</a></li>
            <li role="presentation"><a href="#delivery-report" aria-controls="delivery-report" role="tab" data-toggle="tab">Delivery Report</a></li>
            <li role="presentation"><a href="#pickup-report" aria-controls="pickup-report" role="tab" data-toggle="tab">Pickup Report</a></li>
            <li role="presentation"><a href="#scanner-token" aria-controls="scanner-token" role="tab" data-toggle="tab">Scanner Token</a></li>
            <li role="presentation"><a href="#active-scanner" aria-controls="active-scanner" role="tab" data-toggle="tab">Active Scanner</a></li>
            <!--<li role="presentation"><a href="#xxx-report" aria-controls="xxx-report" role="tab" data-toggle="tab">Xxx Report</a></li>-->
            <!--<li role="presentation"><a href="#yyy-report" aria-controls="yyy-report" role="tab" data-toggle="tab">Yyy Report</a></li>-->
        </ul><!-- /Nav tabs -->
        <!-- Tab panes -->
        <div class="tab-content">
            <!--Tab Search-->
            <div role="tabpanel" class="tab-pane active" id="search">
                <h3>Search</h3>
                <br /><br />
                <form class="form-horizontal" id="search-form">
                    <div class="form-group">
                        <label class="col-md-2" for="ItemNo">Item No *</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="ItemNo" name="ItemNo" data-bind="value: ItemNo" placeholder="Consignment / Console" aria-required="true" required />
                            <label id="ItemNo-error" class="error text-danger" for="ItemNo" style="display:none"></label>
                        </div>
                    </div>
                    <button class="btn btn-default" type="button" data-bind="click: searchItemNo">Search</button>
                    <button class="btn btn-danger" type="button" data-bind="click: clearSearchItemNo">Clear</button>
                    <span data-bind="if: isBusy"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></span>
                </form>
                <div data-bind="if: SearchItemNoResults().length > 0">
                    <br />
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <span class="pull-right" data-bind="click: clearSearchItemNo"><i class="fa fa-times"></i></span>
                            <br />
                            <p>
                                <label>Item No</label>: <span id="search-item-no">item no</span>
                                <br />
                            </p>
                        </div>
                    </div>
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Scanner Date</th>
                                <th>RTS Date</th>
                                <th>Courier Id</th>
                                <th>Location Id</th>
                                <th>Comment</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: SearchItemNoResults">
                            <tr>
                                <td data-bind="text: _type"></td>
                                <td data-bind="date:{ value: _source.Time, format:'DD/MM/YYYY HH:mm'}"></td>
                                <td data-bind="date:{ value: _source.CreatedDate, format:'DD/MM/YYYY HH:mm'}"></td>
                                <td data-bind="text: _source.CourierId"></td>
                                <td data-bind="text: _source.LocationId"></td>
                                <td data-bind="text: _source.Comment"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/Tab Search-->
            <!--Delivery Report-->
            <div role="tabpanel" class="tab-pane" id="delivery-report">
                <h3>Delivery Report</h3>
                <br /><br />
                <form class="form-horizontal" id="delivery-report-form">
                    <div class="form-group">
                        <label class="col-md-2" for="BeatNo">Beat No</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="BeatNo" name="BeatNo" data-bind="value: BeatNo" placeholder="Beat No" aria-required="true" required />
                            <label id="BeatNo-error" class="error text-danger" for="BeatNo" style="display:none"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" for="CourierId">Courier Id *</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="CourierId" name="CourierId" data-bind="value: CourierId" placeholder="Courier Id" aria-required="true" required />
                            <label id="CourierId-error" class="error text-danger" for="CourierId" style="display:none"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" for="ReportDateDeli">Date *</label>
                        <div class="col-md-6">
                            <input class="form-control" id="ReportDateDeli" name="ReportDateDeli" data-bind="value: ReportDate" placeholder="Date" aria-required="true" required />
                            <br />
                            <label id="ReportDateDeli-error" class="error text-danger" for="ReportDateDeli" style="display:none"></label>
                        </div>
                    </div>
                    <button class="btn btn-default" type="button" data-bind="click: searchByBeatNoAndCourierIdDeli">Search</button>
                    <button class="btn btn-danger" type="button" data-bind="click: clearBeatNoAndCourierIdDeli">Clear</button>
                    <span data-bind="if: isBusy"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></span>
                </form>
                <div data-bind="if: SearchByBeatNoAndCourierIdDeliResults().length > 0">
                    <br />
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <span class="pull-right" data-bind="click: clearBeatNoAndCourierIdDeli"><i class="fa fa-times"></i></span>
                            <br />
                            <p>
                                <label for="delivery-beat-no">Beat No</label>: <span id="delivery-beat-no">beat no</span>
                                <br />
                                <label for="delivery-courier-id">Courier Id</label>: <span id="delivery-courier-id">courier id</span>
                                <br />
                                <label for="delivery-date">Date</label>: <span id="delivery-date">date</span>
                                <br />
                                <label for="delivery-total">Total</label>: <span id="delivery-total">total</span>
                                <br />
                            </p>
                        </div>
                    </div>
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Consignment No</th>
                                <th>Scanner Date</th>
                                <th>RTS Date</th>
                                <th>Beat No</th>
                                <th>Recipient Name</th>
                                <th>Recipient Ic</th>
                                <th>Comment</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: SearchByBeatNoAndCourierIdDeliResults">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span>. </td>
                                <td data-bind="text: _source.ConsignmentNo"></td>
                                <td data-bind="date:{ value: _source.Time, format:'DD/MM/YYYY HH:mm:ss'}"></td>
                                <td data-bind="date:{ value: _source.CreatedDate, format:'DD/MM/YYYY HH:mm:ss'}"></td>
                                <td data-bind="text: _source.BeatNo"></td>
                                <td data-bind="text: _source.RecipientName"></td>
                                <td data-bind="text: _source.RecipientIc"></td>
                                <td data-bind="text: _source.Comment"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/Delivery Report-->
            <!--Pickup Report-->
            <div role="tabpanel" class="tab-pane" id="pickup-report">
                <h3>Pickup Report</h3>
                <br /><br />
                <form class="form-horizontal" id="pickup-report-form">
                    <div class="form-group">
                        <label class="col-md-2" for="BeatNo">Beat No</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="BeatNo" name="BeatNo" data-bind="value: BeatNo" placeholder="Beat No" aria-required="true" required />
                            <label id="BeatNo-error" class="error text-danger" for="BeatNo" style="display:none"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" for="CourierId">Courier Id *</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="CourierId" name="CourierId" data-bind="value: CourierId" placeholder="Courier Id" aria-required="true" required />
                            <label id="CourierId-error" class="error text-danger" for="CourierId" style="display:none"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" for="ReportDatePick">Date *</label>
                        <div class="col-md-6">
                            <input class="form-control" id="ReportDatePick" name="ReportDatePick" data-bind="value: ReportDate" placeholder="Date" aria-required="true" required />
                            <br />
                            <label id="ReportDatePick-error" class="error text-danger" for="ReportDatePick" style="display:none"></label>
                        </div>
                    </div>
                    <button class="btn btn-default" type="button" data-bind="click: searchByBeatNoAndCourierIdPick">Search</button>
                    <button class="btn btn-danger" type="button" data-bind="click: clearBeatNoAndCourierIdPick">Clear</button>
                    <span data-bind="if: isBusy"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></span>
                </form>
                <div data-bind="if: SearchByBeatNoAndCourierIdPickResults().length > 0">
                    <br />
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <span class="pull-right" data-bind="click: clearBeatNoAndCourierIdPick"><i class="fa fa-times"></i></span>
                            <br />
                            <p>
                                <label for="pickup-beat-no">Beat No</label>: <span id="pickup-beat-no">beat no</span>
                                <br />
                                <label for="pickup-courier-id">Courier Id</label>: <span id="pickup-courier-id">courier id</span>
                                <br />
                                <label for="pickup-date">Date</label>: <span id="pickup-date">date</span>
                                <br />
                                <label for="pickup-total">Total</label>: <span id="pickup-total">total</span>
                                <br />
                            </p>
                        </div>
                    </div>
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Consignment No</th>
                                <th>Account No</th>
                                <th>Pickup No</th>
                                <th>Scanner Date</th>
                                <th>RTS Date</th>
                                <th>Beat No</th>
                                <th>Comment</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: SearchByBeatNoAndCourierIdPickResults">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span>. </td>
                                <td data-bind="text: _source.ConsignmentNo"></td>
                                <td data-bind="text: _source.AccountNo"></td>
                                <td data-bind="text: _source.PickupNo"></td>
                                <td data-bind="date:{ value: _source.Time, format:'DD/MM/YYYY HH:mm:ss'}"></td>
                                <td data-bind="date:{ value: _source.CreatedDate, format:'DD/MM/YYYY HH:mm:ss'}"></td>
                                <td data-bind="text: _source.BeatNo"></td>
                                <td data-bind="text: _source.Comment"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/Pickup Report-->
            <!--ScannerToken-->
            <div role="tabpanel" class="tab-pane" id="scanner-token">
                <h3>Scanner Token</h3>
                <br /><br />
                <form class="form-horizontal" id="search-auth-form">
                    <div class="form-group">
                        <label class="col-md-2" for="ScannerId">Scanner Id *</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="ScannerId" name="ScannerId" data-bind="value: ScannerId" placeholder="Scanner Id" aria-required="true" required />
                            <label id="ScannerId-error" class="error text-danger" for="ScannerId" style="display:none"></label>
                        </div>
                    </div>
                    <button class="btn btn-default" type="button" data-bind="click: searchScannerId">Search</button>
                    <button class="btn btn-danger" type="button" data-bind="click: clearsearchScannerId">Clear</button>
                    <span data-bind="if: isBusy"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></span>
                </form>
                <div data-bind="if: AuthToken().length > 0">
                    <br />
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <span class="pull-right" data-bind="click: clearsearchScannerId"><i class="fa fa-times"></i></span>
                            <br />
                            <p>
                                <label>Scanner Id</label>: <span id="search-auth-token">ScannerId</span>
                                <br />
                            </p>
                        </div>
                    </div>
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Scanner Id</th>
                                <th>Date Issued</th>
                                <th>Date Expired</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: AuthToken" >
                            <tr data-bind="visible:$index() < 5">
                                <td data-bind="text:$index() + 1"></td>
                                <td data-bind="text: user"></td>
                                <td data-bind="text: moment(iat*1000).format('YYYY-MM-DD HH:mm:ss')"></td>
                                <td data-bind="text: moment(exp*1000).format('YYYY-MM-DD HH:mm:ss')"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/ScannerToken-->
            <!--Active Scanner-->
            <div role="tabpanel" class="tab-pane" id="active-scanner">
                <h3>Active Scanner</h3>
                <br /><br />
                <form class="form-horizontal" id="active-scanner-form">
                    <div class="form-group">
                        <label class="col-md-2" for="ActiveScannerEvent">Event</label>
                        <div class="col-md-6">
                            <!--todo: hard code and disabled for now-->
                            <input class="form-control" type="text" id="ActiveScannerEvent" name="ActiveScannerEvent" data-bind="value: ActiveScannerEvent" placeholder="Event" aria-required="true" disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" for="ActiveScannerLocationId">Location Id *</label>
                        <div class="col-md-6">
                            <input class="form-control" type="text" id="ActiveScannerLocationId" name="ActiveScannerLocationId" data-bind="value: ActiveScannerLocationId" placeholder="Location Id" aria-required="true" required />
                            <label id="ActiveScannerLocationId-error" class="error text-danger" for="ActiveScannerLocationId" style="display:none"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" for="ActiveScannerDate">Date *</label>
                        <div class="col-md-6">
                            <input class="form-control" id="ActiveScannerDate" name="ActiveScannerDate" data-bind="value: ActiveScannerDate" placeholder="Date" aria-required="true" required />
                            <br />
                            <label id="ActiveScannerDate-error" class="error text-danger" for="ActiveScannerDate" style="display:none"></label>
                        </div>
                    </div>
                    <button class="btn btn-default" type="button" data-bind="click: searchByEventAndLocationId">Search</button>
                    <button class="btn btn-danger" type="button" data-bind="click: clearEventAndLocationId">Clear</button>
                    <span data-bind="if: isBusy"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></span>
                </form>
                <div data-bind="if: SearchByEventAndLocationIdResults().length > 0">
                    <br />
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <span class="pull-right" data-bind="click: clearEventAndLocationId"><i class="fa fa-times"></i></span>
                            <br />
                            <p>
                                <label for="active-scanner-event">Event</label>: <span id="active-scanner-event" data-bind="text: ActiveScannerEvent">event</span>
                                <br />
                                <label for="active-scanner-location-id">Location Id</label>: <span id="active-scanner-location-id" data-bind="text: ActiveScannerLocationId">location id</span>
                                <br />
                                <label for="active-scanner-date">Date</label>: <span id="active-scanner-date" data-bind="text: ActiveScannerDate">date</span>
                                <br />
                                <label for="active-scanner-total-events">Total Events</label>: <span id="active-scanner-total-events">total events</span>
                                <br />
                                <label for="active-scanner-total-active-scanners">Total Active Scanners</label>: <span id="active-scanner-total-active-scanners">total actice scanners</span>
                                <br />
                            </p>
                        </div>
                    </div>
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Scanner Id</th>
                                <th>Events Scanned</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: SearchByEventAndLocationIdResults">
                            <tr>
                                <td><span data-bind="text: $index() + 1"></span>. </td>
                                <td data-bind="text: key"></td>
                                <td data-bind="text: doc_count"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--/Active Scanner-->
            <!--<div role="tabpanel" class="tab-pane" id="xxx-report">
                xxx report
            </div>-->
            <!--<div role="tabpanel" class="tab-pane" id="yyy-report">
                yyy report
            </div>-->
        </div><!-- /Tab panes -->

    </div>
    <div class="col-md-2">&nbsp;</div>
</div>
