<h1>
    <!-- ko text : type-->
    <!-- /ko -->
    messages
</h1>
<div class="row">
    <div class="col-lg-6">

        <form id="search-form">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" style="height:28px" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-search"></i> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" >
                                         
                        <!-- ko foreach : members -->
                        <li><a href="javascript:;" data-bind="text: Name">Details.Tags</a></li>
                        <!-- /ko -->
                        <li role="separator" class="divider"></li>
                        <li><a href="javascript:;" data-term="AND">AND</a></li>
                        <li><a href="javascript:;" data-term="OR">OR</a></li>
                    </ul>
                </div> 
                <input type="search" id="search-text" class="form-control" data-bind="value:searchText, valueUpdate : 'keyup', tooltip :'You can use Lucene query string search e.g. FieldName:value, AND OR, fuzzy etc'" placeholder="Search..." />
                <span class="input-group-btn">
                    <button class="btn btn-default" style="height:28px" data-bind="command : search, enable : searchText().length > 3">
                        <i class="fa fa-circle-o-notch"></i>
                     </button>
                </span>
            </div>

        </form>

    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-md-12 col-sm-12">
        <div class="row">
            <form class="form-inline">
                <div class="date-range pull-right" style="margin-right: 30px">
                    <i class="fa fa-calendar fa-lg"></i>
                    <span data-bind="date: { value : dateFrom, format :'MMMM DD, YYYY', inputFormat :'YYYY-MM-DD'}">
                    </span> -
                    <span data-bind="date: { value:to, format :'MMMM DD, YYYY', inputFormat :'YYYY-MM-DD'}"></span>
                    <b class="caret"></b>
                </div>
            </form>
        </div>
        <div class="row">
            <!-- ko compose : { view : '_message.rows.' + $root.type() }-->
            <!-- /ko-->
            <img src="/images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />
        </div>
        <div class="row">
            <div id="messages-pager"></div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Tasks</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-12 control-label">Requeue selected messages</label>
                    </div>
                    <!-- ko foreach : queueOptions -->
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="checkbox">
                                <label>
                                    <input data-bind="checked: $root.queues, value: $data" type="checkbox" name="queues" />
                                    <!-- ko text : Name -->
                                    <!-- /ko-->
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                    <div class="form-group">
                        <button class="btn btn-success" data-bind="enable : selectedItems().length > 0  && queues().length > 0, command : requeue">
                            <i class="fa fa-send-o"></i>
                            Requeue
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>