<h1>
    <!-- ko text : type-->
    <!-- /ko -->
    messages
</h1>

<div class="row">
    <div class="col-lg-10 col-md-12 col-sm-12">


        <div class="row">
            <form class="form-inline">
                <div class="date-range pull-right" style="margin-right: 30px">
                    <i class="fa fa-calendar fa-lg"></i>
                    <span data-bind="date: { value : dateFrom, format :'MMMM DD, YYYY', inputFormat :'YYYY-MM-DD'}">
                    </span> -
                    <span data-bind="date: { value:to, format :'MMMM DD, YYYY', inputFormat :'YYYY-MM-DD'}"></span>
                    <b class="caret"></b>
                </div>
            </form>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Created date</th>
                        <!-- ko if : $root.type() === 'Stat' -->
                        <th>CourierId</th>
                        <th>LocationId</th>
                        <th>BeatNo</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>ConsignmentNo</th>
                        <th>StatusCode</th>
                        <th>Comment</th>
                        <th>ScannerId</th>
                        <!-- /ko -->
                    </tr>
                </thead>
                <tbody data-bind="foreach :list">
                    <tr data-bind2="">
                        <td>
                            <input type="checkbox" data-bind="checked: $root.selectedItems, value : $data" />
                        </td>
                        <td data-bind="date: {value:_source.CreatedDate, format: 'YYYY-MM-DD HH:mm:ss'}"></td>
                        <!-- ko if :  $root.type() === 'Stat' -->
                        <td data-bind="text:_source.CourierId"></td>
                        <td data-bind="text:_source.LocationId"></td>
                        <td data-bind="text:_source.BeatNo"></td>
                        <td data-bind="date: {value:_source.Date, format: 'YYYY-MM-DD'}"></td>
                        <td data-bind="date: {value:_source.Time, format : 'HH:mm:ss'}"></td>
                        <td data-bind="text:_source.ConsignmentNo"></td>
                        <td data-bind="text:_source.StatusCode"></td>
                        <td data-bind="text:_source.Comment"></td>
                        <td data-bind="text:_source.ScannerId"></td>
                        <!-- /ko -->
                    </tr>
                </tbody>
            </table>
            <img src="/images/spinner-md.gif" alt="loading" class="absolute-center" data-bind="visible: isBusy" />

        </div>
        <div class="row">
            <div id="messages-pager"></div>
        </div>
    </div>
    <div class="col-lg-2 col-md-12 col-sm-12">
        <div class="row">
            <h3 class="badge badge-important">Tasks</h3>
        </div>
        <form class="form-horizontal">


            <div class="form-group">
                <label  class="col-lg-12 control-label">Requeue selected messages</label>
            </div>
            <!-- ko foreach : queueOptions -->
            <div class="form-group">
                <div class="col-md-10">
                    <div class="checkbox">
                        <label>
                            <input data-bind="checked: $root.queues, value: $data" type="checkbox" name="queues"/>
                            <!-- ko text : Name -->
                            <!-- /ko-->
                        </label>
                    </div>
                </div>
            </div>
            
            <!-- /ko -->
            <div class="form-group">
                <button class="btn btn-success" data-bind="enable : selectedItems().length > 0  && queues().length > 0, command : requeue">
                    <i class="fa fa-send-o"></i>
                    Requeue to
                </button>
            </div>
        </form>
    </div>
</div>


